.storybook-button {
  font-family: Arial, sans-serif;
  font-weight: 400;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #013e63;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 18px;
  padding: 16px 26px;
}
.storybook-button--medium {
  font-size: 19px;
  padding: 11px 28x;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
